.container
  background-color #fff
  position absolute
  img
    border none !important
    background none !important
    box-shadow none !important

.title
  background rgba(42, 34, 34, .7)
  border-radius 3px
  h1, h2, h3, h4, h5, h6, p, li
    color #fff !important
  b
    color #f0c64d


.white
  h1, h2, h3, h4, h5, h6, p, li
    color #fff !important
