.container
  background-color #fff

.title
  h1, h6
    color #fff !important

.title
  background rgba(42,34,34,0.7)
  border-radius 3px
  img 
    border none !important
    background none !important
  h1, h6
    color #fff !important
