.container
  background-color #fff
  position absolute
  section
    img
      border none !important
      background none !important

.title
  background rgba(42, 34, 34, .7)
  border-radius 3px
  h1, p
    color #fff !important
