.container
  position absolute
  background-color #fff

.title
  h1, h6
    color #fff !important

.list
  p
    margin 10px !important
    font-size 20px !important

.link
  color #96c9f1 !important
