.container
  background-color #000

.list
  p
    margin 10px !important
    font-size 20px !important

.link
  color #96c9f1 !important

:global
  .hljs
    margin 5px 0
    border-radius 3px
    background-color #111
    overflow auto
    display block
    &::after
      top 5px
      right 10px
      font-size 10px
      color #cecece
      content attr(class)
      position absolute
      z-index 1


  .hljs,
  .hljs-subst
    color #96beff

  .hljs-string,
  .hljs-meta,
  .hljs-symbol,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-addition
    color #0dcc61

  .hljs-comment,
  .hljs-quote
    color #636363

  .hljs-number,
  .hljs-regexp,
  .hljs-literal,
  .hljs-bullet,
  .hljs-link
    color #31a354

  .hljs-deletion,
  .hljs-variable
    color #88f

  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-title,
  .hljs-section,
  .hljs-built_in,
  .hljs-doctag,
  .hljs-type,
  .hljs-tag,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-strong
    color #e8d320

  .hljs-emphasis
    font-style italic

  .hljs-attr,
  .hljs-attribute
    color #454f71
