.container
  width 100%
  min-height 100vh
  background-color #28304e
  padding 50px
  text-align center
  h1
    color #fff
    text-transform uppercase
    margin-bottom 20px
  a
    text-decoration none

  
  
.slide
  background-color #444e74
  color #fff
  border-radius 3px
  width 300px
  margin 0px auto
  padding 20px
  margin-bottom 30px
  cursor pointer
  &:hover
    opacity .7


